#contribution{
    &__form {
        display: flex;
        justify-content: center;
        label{
            font-size: 20px;
        }
    }
    &__imgBtn{
        cursor: pointer;
        color: #00b1ca;
        font-weight: bold;
        padding: 10px;
        border: solid 2px;
        border-radius: 20px;
        margin: 0 40px;
        font-size: 12px !important;      
    }
    &__pictures{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
    }
    &__volcanoFiles {
    display: none;
    }
    &__description{
        background-color:rgb(195, 250, 250);
        border: solid 2px cyan;
        border-radius: 10px;
        width: 500px;
        height: 150px;
        font-size: 15px;
    }
    &__volcanoType {
        width: 150px;
        padding: 0 0 0 10px;
    }
    &__NoConnected{
        text-align: center;
    }
}

