.connexion__page{
    display: flex;
    flex-direction: column;
}
.connexion__header{
    display: flex;
    justify-content: center;
    position: relative;
}
.connexion__form{
    margin: auto;
    width: 50%;
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
    input{
        font-size: 20px;
        width: 45%;
    }
}
@mixin button_details{
    padding: 5px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
}

.connexion__buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    .button{
        @include button_details;
        background-color: rgb(64, 192, 83);
        transition: transform 0.2s;
        &:hover{
           cursor: pointer; 
           transform: scale(1.1);
        }
    } 
}

.connexion__buttons--cancel {
    @include button_details;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: #1cb51c;
    font-size: 13.3px;
    background-color: rgb(92, 83, 92) !important; 
    transition: transform 0.2s;
    &:hover{
        cursor: pointer; 
        transform: scale(1.1);
    }
}

.connexion__messageOK{
    background-color: rgb(50, 112, 57);
    height: 40px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    
}.connexion__messageNotOK{
    background-color: rgb(175, 38, 31);
    height: 40px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
}