@mixin button__details{
    padding: 5px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
}

#contribution{
    &__formContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1200px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__form--imgContainer{
        border: 2px #ffffff solid;
        padding: 15px 0;
        margin: 0 10px;
        height: 400px;
        @media screen and (max-width: 1200px){
            width: 90vw;
        }
        &--input{
            display: flex;
            align-items: center;
            & p{
                margin-left: 10px;
            }
        }
    }
    &__imgBtn{
        z-index: 2;
        cursor: pointer;
        color: #00b1ca;
        font-weight: bold;
        padding: 10px;
        border: solid 2px;
        border-radius: 20px;
        margin: 5px;
        font-size: 12px !important; 
        transition: 0.2s; 
        &:hover{
            transform: scale(1.05)
        }    
    }
    &__pictures{
        width: 650px;
        display: flex;
        flex-wrap: wrap;
    }
    &__volcanoFiles {
        display: none;
    }
    &__volcanoFilesImage{
        width: 150px;
        height: 100px;
        margin: 30px;
    }
    &__description{
        background-color:rgb(195, 250, 250);
        border: solid 2px rgb(14, 146, 146);
        border-radius: 10px;
        width: 500px;
        height: 250px;
        font-size: 15px;
        @media screen and (max-width: 1200px){
            width: 90vw;
        }
    }
    &__volcanoType {
        display: flex;
        width: 900px;
        padding: 0 0 0 10px;
    }
    &__volcanoTypeImage{
        margin: 0 10px 0;
        height: 180px;
    }
    &__NoConnected{
        text-align: center;
    }
    &__NoConnected--btn{
        padding: 5px;
        width: 150px;
        height: 50px;
        border-radius: 50px;
        margin: 20px;
        background-color: #00b1ca;
        transition: transform 0.2s;
        &:hover{
              cursor: pointer; 
              transform: scale(1.1);
        }
    }
    &__button{
        &--submit{
            @include button__details;
            background-color: rgb(64, 192, 83);
            transition: transform 0.2s;
            &:hover{
                cursor: pointer; 
                transform: scale(1.1);
            }
        }
        &--cancel {
            @include button__details;
            background-color: grey;;
            transition: transform 0.2s;
            &:hover{
                cursor: pointer; 
                transform: scale(1.1);
            }
        }
    }
    &__newVolcan{
        position: absolute;
        z-index:2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(13, 151, 13);
        width: 450px;
        height: 250px;
        border: 2px solid #ffffff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
}

