.inscription__page{
    display: flex;
    flex-direction: column;
}

.inscription__header{
    display: flex;
    justify-content: center;
    position: relative;
}
.inscription__form{
    margin: auto;
    width: 50%;
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
    @media screen and (max-width: 1023px) {
        width: 70%;
    }
    & input{
        font-size: 18px;
        width: 45%;
        @media screen and (max-width: 1023px) {
            width: 100%;
            font-size: 16px;
        }
    }
}

@mixin button_details{
    padding: 5px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
}

.inscription__buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    button{
        @include button_details;
        background-color: rgb(64, 192, 83);
        transition: transform 0.2s;
        &:hover{
           cursor: pointer; 
           transform: scale(1.1);
        }
    } 
}
 .inscription__buttons--cancel {
    @include button_details;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    font-size: 13.3px;
    background-color: rgb(92, 83, 92) !important; 
    transition: transform 0.2s;
    &:hover{
        cursor: pointer; 
        transform: scale(1.1);
    }
}

.inscription__messageOK{
    background-color: rgb(50, 112, 57);
    height: auto;
    padding: 5px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    @media screen and (max-width: 1024px){
        width: 95%;
        font-size: 14px;     
    }
}
.inscription__messageNotOK{
    background-color: rgb(175, 38, 31);
    height: auto;
    padding: 5px;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    @media screen and (max-width: 1024px){
         width: 95%;
         font-size: 14px;
    }
}