.photos{
    &__container{
        display: flex;
        justify-content: center;
        height: 20vh;
        width: 100vw;
    }
    &__image{
        width: 300px;
        &:hover{
            cursor: pointer;
        }
    }
    &__arrowsContainer{
        display:flex;
        align-items:center;
    }
    &__arrows{
        font-size: 150px;
        color: #ffffff;
        &:hover{
            cursor: pointer;
        }
    }
    &__btnContainer{
        display: flex;
        justify-content: center;
    }
    &__btn--cancel{
        padding: 5px;
        color: #ffffff;
        width: 100px;
        height: 50px;
        border-radius: 50px;
        margin: 20px;
        background-color: grey;;
        transition: transform 0.2s;
        &:hover{
            cursor: pointer; 
            transform: scale(1.1);
        }
    }
}
.filtres{
    &__Section{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__Container{
        display: flex;
        justify-content: center;
    }
    &_Name{
        margin: 10px;
        width: 300px;
    }
}

.volcanoSelected{
    background-color: rgb(227, 164, 153);
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    border: solid 2px #ffffff;
    width: 300px;
    max-height: 100px;
    overflow-y: scroll;
    background-color: #d69a8f;
    & option{
        &:checked{
            background-color: #d69a8f;
        }
        &:hover{
            background-color: #e1d4d1;
        }
    }
    &:hover{
        cursor: pointer;
    }
}
.volcanoNameReinitialization{
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 20px;
    color: rgb(222, 47, 47);
    &:hover{
        cursor: pointer;
    }
}