* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  text-align: center;
  margin: 25px 0 40px;
}

.hidden {
  visibility: hidden;
}

@keyframes presentation__bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}
.containerBanner {
  height: 250px;
  width: 75%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.imageBanner {
  position: absolute;
  width: 100%;
}
@media (min-width: 1024px) {
  .imageBanner {
    top: -100px;
  }
}
@media (max-width: 768px) {
  .imageBanner {
    height: 100%;
  }
}

.menuAccueil {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.menuAccueil .button {
  transform: scale(1);
  transition: transform 0.5s;
  background-color: rgb(106, 26, 26);
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 0 30px;
}
.menuAccueil .button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.picto {
  height: 40px;
  width: 40px;
  padding: 5px;
  position: absolute;
  top: 30px;
  right: 50px;
  border-radius: 20px;
}

.title__ContainerLetters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  margin: 20px 0 150px;
}

.title__Letter--0 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0s;
}
@media (min-width: 1260px) {
  .title__Letter--0 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--0 {
    height: 50%;
  }
}

.title__Letter--1 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.2s;
}
@media (min-width: 1260px) {
  .title__Letter--1 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--1 {
    height: 50%;
  }
}

.title__Letter--2 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.4s;
}
@media (min-width: 1260px) {
  .title__Letter--2 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--2 {
    height: 50%;
  }
}

.title__Letter--3 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.6s;
}
@media (min-width: 1260px) {
  .title__Letter--3 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--3 {
    height: 50%;
  }
}

.title__Letter--4 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.8s;
}
@media (min-width: 1260px) {
  .title__Letter--4 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--4 {
    height: 50%;
  }
}

.title__Letter--5 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 1s;
}
@media (min-width: 1260px) {
  .title__Letter--5 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--5 {
    height: 50%;
  }
}

.title__Letter--6 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 1.2s;
}
@media (min-width: 1260px) {
  .title__Letter--6 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--6 {
    height: 50%;
  }
}

.title__Paragraph {
  text-align: center;
  color: #FFFFFF;
  font-size: 26px;
  margin-bottom: 50px;
}

.imgPresentation__Container {
  display: flex;
  justify-content: center;
}

.imgPresentation__Image {
  height: 200px;
  transition: height 0.5s ease-in-out;
}
.imgPresentation__Image:hover {
  height: 240px;
}

.photos__container {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vw;
}
.photos__container--textError {
  color: red;
  display: flex;
  align-items: center;
}
.photos__image {
  width: 300px;
}
.photos__image:hover {
  cursor: pointer;
}
.photos__arrowsContainer {
  display: flex;
  align-items: center;
}
.photos__arrows {
  font-size: 150px;
  color: #ffffff;
}
.photos__arrows:hover {
  cursor: pointer;
}
.photos__btnContainer {
  display: flex;
  justify-content: center;
}
.photos__btn--cancel {
  padding: 5px;
  color: #ffffff;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: grey;
  transition: transform 0.2s;
}
.photos__btn--cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.filtres__Section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.filtres__Container {
  display: flex;
  justify-content: center;
}
.filtres_Name {
  margin: 10px;
  width: 300px;
}

.volcanoSelected {
  background-color: rgb(227, 164, 153);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  border: solid 2px #ffffff;
  width: 300px;
  max-height: 100px;
  overflow-y: scroll;
  background-color: #d69a8f;
}
.volcanoSelected option:checked {
  background-color: #d69a8f;
}
.volcanoSelected option:hover {
  background-color: #e1d4d1;
}
.volcanoSelected:hover {
  cursor: pointer;
}

.volcanoNameReinitialization {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 20px;
  color: rgb(222, 47, 47);
}
.volcanoNameReinitialization:hover {
  cursor: pointer;
}

.texteAccueil {
  text-align: center;
  width: 55%;
  font-size: 24px;
  padding: 20px;
  margin: 100px auto;
  background-color: rgb(173, 55, 55);
  border-radius: 500px;
}

.inscription__page {
  display: flex;
  flex-direction: column;
}

.inscription__header {
  display: flex;
  justify-content: center;
  position: relative;
}

.inscription__form {
  margin: auto;
  width: 50%;
  padding-top: 0px;
  font-size: 20px;
  text-align: center;
}
.inscription__form input {
  font-size: 20px;
  width: 45%;
}

.inscription__buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inscription__buttons button {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: rgb(64, 192, 83);
  transition: transform 0.2s;
}
.inscription__buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inscription__buttons--cancel {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  font-size: 13.3px;
  background-color: rgb(92, 83, 92) !important;
  transition: transform 0.2s;
}
.inscription__buttons--cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inscription__messageOK {
  background-color: rgb(56, 56, 184);
  height: 80px;
  width: 80%;
  border-radius: 20px;
  margin: auto;
}

.inscription__messageNotOK {
  background-color: rgb(175, 38, 31);
  height: 40px;
  width: 80%;
  border-radius: 20px;
  margin: auto;
}

.connexion__page {
  display: flex;
  flex-direction: column;
}

.connexion__header {
  display: flex;
  justify-content: center;
  position: relative;
}

.connexion__form {
  margin: auto;
  width: 50%;
  padding-top: 0px;
  font-size: 20px;
  text-align: center;
}
.connexion__form input {
  font-size: 20px;
  width: 45%;
}

.connexion__buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.connexion__buttons .button {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: rgb(64, 192, 83);
  transition: transform 0.2s;
}
.connexion__buttons .button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.connexion__buttons--cancel {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  font-size: 13.3px;
  background-color: rgb(92, 83, 92) !important;
  transition: transform 0.2s;
}
.connexion__buttons--cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.connexion__messageOK {
  background-color: rgb(50, 112, 57);
  height: 40px;
  width: 80%;
  border-radius: 20px;
  margin: auto;
}

.connexion__messageNotOK {
  background-color: rgb(175, 38, 31);
  height: 40px;
  width: 80%;
  border-radius: 20px;
  margin: auto;
}

.pageError {
  position: relative;
}
.pageError img {
  width: 100vw;
  height: 100vh;
}
.pageError .textError {
  position: absolute;
  border-radius: 60px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
  color: red;
  background-color: #000000;
}
.pageError .textError a {
  color: #FFFFFF;
}
.pageError .textError a :hover {
  color: rgb(201, 119, 24);
}
.pageError .textError a h2 {
  margin-top: 50px;
}
.pageError .textError h1 {
  font-size: 75px;
}
@media screen and (max-width: 1028px) {
  .pageError .textError h1 {
    font-size: 40px;
  }
}
.pageError .textError h2 {
  font-size: 40px;
}
@media screen and (max-width: 1028px) {
  .pageError .textError h2 {
    font-size: 20px;
  }
}

#contribution__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contribution__form {
  display: flex;
  justify-content: center;
}
#contribution__form--imgContainer {
  border: 2px #ffffff solid;
  padding: 15px 0;
  margin: 0 10px;
  height: 400px;
}
#contribution__form--imgContainer--input {
  display: flex;
  align-items: center;
}
#contribution__form--imgContainer--input p {
  margin-left: 10px;
}
#contribution__imgBtn {
  z-index: 2;
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
  padding: 10px;
  border: solid 2px;
  border-radius: 20px;
  margin: 5px;
  font-size: 12px !important;
  transition: 0.2s;
}
#contribution__imgBtn:hover {
  transform: scale(1.05);
}
#contribution__pictures {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}
#contribution__volcanoFiles {
  display: none;
}
#contribution__volcanoFilesImage {
  width: 150px;
  height: 100px;
  margin: 30px;
}
#contribution__description {
  background-color: rgb(195, 250, 250);
  border: solid 2px rgb(14, 146, 146);
  border-radius: 10px;
  width: 500px;
  height: 250px;
  font-size: 15px;
}
#contribution__volcanoType {
  display: flex;
  width: 900px;
  padding: 0 0 0 10px;
}
#contribution__volcanoTypeImage {
  margin: 0 10px 0;
  height: 180px;
}
#contribution__NoConnected {
  text-align: center;
}
#contribution__NoConnected--btn {
  padding: 5px;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: #00b1ca;
  transition: transform 0.2s;
}
#contribution__NoConnected--btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#contribution__button--submit {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: rgb(64, 192, 83);
  transition: transform 0.2s;
}
#contribution__button--submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#contribution__button--cancel {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: grey;
  transition: transform 0.2s;
}
#contribution__button--cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#contribution__newVolcan {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(13, 151, 13);
  width: 450px;
  height: 250px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.crsl {
  width: 600px;
  margin: 40px 15px 5px;
  border: solid 3px #ffffff;
}

#mapid {
  margin: 20px 0 5px;
}

#globeMap {
  margin-top: 20px;
}

#maCarte {
  z-index: 0;
  height: 250px;
  width: 500px;
  background-color: pink;
  border: solid #ffffff 2px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  margin: 0;
}

#description, #description1 {
  display: flex;
  justify-content: center;
}
#description__text, #description1__text {
  margin: 30px 5px;
  width: 500px;
}
#description__details, #description1__details {
  background-color: rgb(104, 43, 43);
  margin: 10px;
  padding: 10px;
  border: solid 2px #ffffff;
  border-radius: 20px;
}
#description__details a, #description1__details a {
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 5px;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
}
#description__details a:hover, #description1__details a:hover {
  color: #ffffff;
  background-color: #000000;
}
#description__modifyComment--container, #description1__modifyComment--container {
  width: 450px;
  height: 300px;
  margin: 15px;
}
#description__modifyComment--textarea, #description1__modifyComment--textarea {
  width: 100%;
  height: 100%;
  color: #000000;
  overflow: visible;
  background-color: rgb(195, 250, 250);
  padding: 10px;
  border: solid 2px #ffffff;
}
#description__modifyComment--buttons, #description1__modifyComment--buttons {
  display: flex;
  justify-content: center;
}
#description__modifyComment--buttons input, #description1__modifyComment--buttons input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
#description__modifyComment--buttons input:hover, #description1__modifyComment--buttons input:hover {
  cursor: pointer;
}
#description__modifyComment--buttons input:nth-child(1), #description1__modifyComment--buttons input:nth-child(1) {
  background-color: rgb(34, 200, 34);
}
#description__modifyComment--buttons input:nth-child(2), #description1__modifyComment--buttons input:nth-child(2) {
  background-color: rgb(203, 39, 36);
}
#description__comment, #description1__comment {
  background-color: rgb(104, 43, 43);
  margin: 10px;
  padding: 10px;
  border: solid 2px #ffffff;
  border-radius: 20px;
}
#description button, #description1 button {
  display: flex;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(249, 248, 248);
  transition: 0.2s;
}
#description button:hover, #description1 button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#description__modifyPhotos--container, #description1__modifyPhotos--container {
  display: flex;
  justify-content: center;
}
#description__modifyPhotos--container + p, #description1__modifyPhotos--container + p {
  text-align: center;
}
#description__modifyPhotos--label, #description1__modifyPhotos--label {
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  border: solid white 2px;
  padding: 3px;
  margin: 5px;
  border-radius: 10px;
  font-family: "Arial";
  font-size: 13px;
}
#description__modifyPhotos--label:hover, #description1__modifyPhotos--label:hover {
  cursor: pointer;
}
#description__modifyPhotos--button, #description1__modifyPhotos--button {
  display: none;
}

#deleteFile {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(236, 9, 9);
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 30px;
}
#deleteFile button {
  margin: 0 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}
#deleteFile button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
