* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: #FFFFFF;
}

h1 {
  text-align: center;
  margin: 25px 0 40px;
}

@keyframes presentation__bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}
.containerBanner {
  height: 250px;
  width: 75%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.imageBanner {
  position: absolute;
  width: 100%;
}
@media (min-width: 1024px) {
  .imageBanner {
    top: -100px;
  }
}
@media (max-width: 768px) {
  .imageBanner {
    height: 100%;
  }
}

.menuAccueil {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.menuAccueil button {
  transform: scale(1);
  transition: transform 0.5s;
  background-color: rgb(106, 26, 26);
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  margin: 0 30px;
}
.menuAccueil button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.menuAccueil button a {
  color: #FFFFFF;
  text-decoration: none;
}

.picto {
  height: 40px;
  position: absolute;
  top: 30px;
  right: 50px;
  border-radius: 10px;
}

.title__ContainerLetters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  margin: 20px 0 150px;
}

.title__Letter--0 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0s;
}
@media (min-width: 1260px) {
  .title__Letter--0 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--0 {
    height: 50%;
  }
}

.title__Letter--1 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.2s;
}
@media (min-width: 1260px) {
  .title__Letter--1 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--1 {
    height: 50%;
  }
}

.title__Letter--2 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.4s;
}
@media (min-width: 1260px) {
  .title__Letter--2 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--2 {
    height: 50%;
  }
}

.title__Letter--3 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.6s;
}
@media (min-width: 1260px) {
  .title__Letter--3 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--3 {
    height: 50%;
  }
}

.title__Letter--4 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 0.8s;
}
@media (min-width: 1260px) {
  .title__Letter--4 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--4 {
    height: 50%;
  }
}

.title__Letter--5 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 1s;
}
@media (min-width: 1260px) {
  .title__Letter--5 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--5 {
    height: 50%;
  }
}

.title__Letter--6 {
  height: 30%;
  animation: presentation__bounce 2s cubic-bezier(0.73, 0.2, 0.73, 0.26) alternate infinite;
  animation-delay: 1.2s;
}
@media (min-width: 1260px) {
  .title__Letter--6 {
    height: 70%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1259px) {
  .title__Letter--6 {
    height: 50%;
  }
}

.title__Paragraph {
  text-align: center;
  color: #FFFFFF;
  font-size: 26px;
  margin-bottom: 50px;
}

.imgPresentation__Container {
  display: flex;
  justify-content: center;
}

.imgPresentation__Image {
  height: 200px;
  transition: height 0.5s ease-in-out;
}
.imgPresentation__Image:hover {
  height: 240px;
}

.texteAccueil {
  text-align: center;
  width: 55%;
  font-size: 24px;
  padding: 20px;
  margin: 100px auto;
  background-color: rgb(173, 55, 55);
  border-radius: 500px;
}

.inscription__page {
  display: flex;
  flex-direction: column;
}

.inscription__header {
  display: flex;
  justify-content: center;
  position: relative;
}

.inscription__form {
  margin: auto;
  width: 50%;
  padding-top: 0px;
  font-size: 20px;
  text-align: center;
}
.inscription__form input {
  font-size: 20px;
  width: 45%;
}

.inscription__buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.inscription__buttons button {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: rgb(64, 192, 83);
  transition: transform 0.2s;
}
.inscription__buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inscription__buttons--cancel {
  background-color: rgb(92, 83, 92) !important;
}

.connexion__buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.connexion__buttons button {
  padding: 5px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin: 20px;
  background-color: rgb(64, 192, 83);
  transition: transform 0.2s;
}
.connexion__buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.connexion__buttons--cancel {
  background-color: rgb(92, 83, 92) !important;
}

.connexion__buttons--logout {
  background-color: rgb(243, 47, 70) !important;
}

.pageError {
  position: relative;
}
.pageError img {
  width: 100vw;
  height: 100vh;
}
.pageError .textError {
  position: absolute;
  border-radius: 60px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  text-align: center;
  color: red;
  background-color: #000000;
}
.pageError .textError a {
  color: #FFFFFF;
}
.pageError .textError a :hover {
  color: rgb(201, 119, 24);
}
.pageError .textError a h2 {
  margin-top: 50px;
}
.pageError .textError h1 {
  font-size: 75px;
}
@media screen and (max-width: 1028px) {
  .pageError .textError h1 {
    font-size: 40px;
  }
}
.pageError .textError h2 {
  font-size: 40px;
}
@media screen and (max-width: 1028px) {
  .pageError .textError h2 {
    font-size: 20px;
  }
}

#contribution__form {
  display: flex;
  justify-content: center;
}
#contribution__form label {
  font-size: 20px;
}
#contribution__imgBtn {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
  padding: 10px;
  border: solid 2px;
  border-radius: 20px;
  margin: 0 40px;
  font-size: 12px !important;
}
#contribution__pictures {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}
#contribution__volcanoFiles {
  display: none;
}
#contribution__description {
  background-color: rgb(195, 250, 250);
  border: solid 2px cyan;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  font-size: 15px;
}
#contribution__volcanoType {
  width: 150px;
  padding: 0 0 0 10px;
}
#contribution__NoConnected {
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
